/* _____________________________________GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
/* _____________________________________GENERAL */
main {
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.top-bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.5)),
    url('assets/tirescar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: white;
  font-size: 8vw;
  font-weight: 100;
  text-shadow: 2px 2px black;
}

/* _____________________________________NAVBAR */

nav {
  background-color: rgb(14, 54, 90);
  color: white;
}
.inner-navbar {
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right-navbar {
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul > li > a {
  color: white;
  padding: 1rem;
}
a:hover {
  color: black;
  background-color: white;
}
.selected {
  color: black;
  background-color: white;
}

/* _____________________________________HOME */
.home-bg-img-container {
  background-image: url('assets/home.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  padding-left: 3rem;
}
h1 {
  display: inline;
  background-color: black;
  padding: 0 1rem;
}
h1 > a {
  color: white;
}
h2 {
  font-size: 7vw;
  font-weight: 100;
  text-shadow: 2px 2px black;
}
.card-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5rem 0;
}
.card-icon {
  margin: 0.2rem;
  padding: 0.3rem;
  text-align: center;
  flex-basis: 18rem;
}
.card-icon > h4 {
  padding: 0.5rem;
}
.card-icon > p {
  font-size: 1rem;
}

/* _____________________________________ABOUT */

/* _____________________________________TOURS */

.card-tour-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5rem 0;
  
}
.card-tour {
  margin: 0.2rem;
  padding: 0.3rem;
  text-align: center;
  flex-basis: 18rem;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}
.card-tour > h4 {
  color: white;
  background-color: rgb(0, 129, 102);
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.card-tour > .card-tour-inner > ul {
  border: 1px solid;
  border-radius: 0.3rem;
  margin: 0 1rem;
}

.card-tour > .card-tour-inner > ul > li {
  font-size: 1rem;
  border-top: 1px solid;
  padding: 0.4rem 0;
}
.card-tour > .card-tour-inner > ul > li:first-child {
  border: none;
}
.card-tour > button {
  margin-top: 0.3rem;
  padding: 0.2rem;
}

.tour-description {
  margin: 1rem 0;
  font-size: 1rem;
}
.card-tour-inner {
  margin: 0.5rem 1rem;
}
.card-tour > button {
  margin: 0.6rem 1rem;
  padding: 0.3rem 0;
  background-color: transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  color: rgb(241, 95, 34);
  border: 1px solid rgb(241, 95, 34);
}
.card-tour > button:hover {
  background-color: rgb(241, 95, 34);
  color: white;
}

/* _____________________________________FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(14, 54, 90);
  color: white;
}
footer > div {
  padding: 1rem;
}
